@use './vars' as *;

#main-carousel {
  background-image: url('../assets/img/h3-testimonials-bckgrnd.jpg');
  background-position: center;
  background-size: cover;
}

// style per la BaseSplitSection
p {
  color: $lightgray;
  font-weight: 300;
}

.price {
  color: $orange;
}

.info {
  padding-top: 5px;
}

// style per la BaseImageSlider di bgSlider
.slider-text {
  margin-left: 200px;
}

// style per la BaseImagesLine di logo
.logos {
  padding: 60px 0;
  background-color: $beige;
}

// style per la BaseImagesLine di pizze
.pizza-menu {
  overflow: hidden;
  padding: 100px 0 150px 0;

  .image-line {
    transform: translateX(-70px);
    gap: 100px;
  }
}

// style per la splitSection dei pizza deals
.pizza-deals-text {
  .date-info {
    text-align: center;
  }

  .date-number,
  p {
    color: $orange;
  }

  .date-number {
    font-size: 35px;
  }

  .date-month {
    font-size: 17px;
  }

  p {
    font-size: 12px;
  }
}
