@use './vars' as *;
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Oswald Variable', sans-serif;
}

// generics

ul {
  list-style: none;
  padding: 0;
}

// utils

.flux-none {
  position: fixed;
}

.btn {
  background-color: $orange;
  color: white;
  border-radius: 0;
  padding: 10px 35px;
}

.btn:hover {
  background-color: $dark-orange;
}
