@use './vars' as *;
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Oswald Variable', sans-serif;
}

// generics

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;

  &:hover {
    color: gray;
  }
}

// utils

.flux-none {
  position: absolute;
  max-height: 100%;
}

.btn {
  background-color: $orange;
  color: white;
  border-radius: 0;
  padding: 10px 35px;
}

.btn:hover {
  background-color: $dark-orange;
}
